/* 預設字型 */
body, body * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    font-size: 20px;

    overflow-wrap: anywhere;
    background-color: rgb(255, 228, 196);
    font-weight: bold;
    padding: 20px;
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    body {
        padding: 10px 15px;
    }

    header {
        font-size: 25px;
    }
}

@media (min-width: 1200px) {
    body {
        padding: 10px 20px;
    }

    header {
        font-size: 35px;
    }
}

/* 這個 clickable icon 可以和文字一樣擺在句子中間，圖片高約為預設字型的文字高 */
.clickable_icon {
    display: inline-block;
    vertical-align: text-bottom; /* 讓 icon 對齊文字底部 */
}

.clickable_icon img {
    aspect-ratio: 1;
    height: 1.5em;
}

.clickable_icon:hover {
    background-color: rgba(180, 180, 180, 0.586);
}

.circle_img {
    border-radius: 100%;
}
