/* h1, h2 等其他 Tag 應該要分開指定 font size */
body, body * {
    font-size: 20px;
}

@media (min-width: 600px) {
    body, body * {
        font-size: 25px;
    }
}

@media (min-width: 1200px) {
    body, body * {
        font-size: 35px;
    }
}
